* {
  box-sizing: border-box;
}

body {
  background-color: #e5e2d7; /* Betonggrå */
  padding: 2rem;
  min-height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #161516; /* Svart */
  font-family: "Roboto", sans-serif; /* Only works if installed but not worth importing */
  text-align: center;
}
h1 {
  color: #000000; /* Svart */
}
h2 {
  text-decoration: underline;
}
p {
  max-width: 80ch;
}

img,
picture {
  max-width: 80vw;
  max-height: 33vh;
}
