<html>
  <head>
    <title>Autentisering fullført!</title>
    <link href="{{ url_for('static', path='/base.css') }}" rel="stylesheet" />
  </head>

  <body>
    <picture>
      <source
        srcset="{{ url_for('static', path='/dns_ikon_svart.png') }}"
        media="(prefers-reduced-motion: reduce)"
        alt="DNS ikon"
      />
      <img
        src="{{ url_for('static', path='/dansende_gris.gif') }}"
        alt="DNS-gris som danser"
      />
    </picture>

    <h1>Hurra!<br />Du har nå koblet Galtinn sammen med Discordbrukeren din</h1>
    <h2>{{ name }}</h2>
    <p>
      Fra nå av vil enkelte roller du har være knyttet til ditt medlemsskap i
      DNS samt foreninger i Galtinn.
    </p>
    <p>
      Om du opplever problem(er), ikke nøl med å ta kontakt med EDB-gjengen på
      <a href="mailto:edb@neuf.no">edb@neuf.no</a>
    </p>
    <p>Du kan nå lukke dette vinduet.</p>
  </body>
</html>
